<div id="footer" class="wrap"> 	

  <div id="copyright" class="wrap">    
  
    <div class="left-col"> 
      <p>&copy; 2010 enVirashop. All Rights Reserved.</p> 
    </div> 

    <div class="right-col"> 
      <p><%= t("powered_by") %> <a href="http://spreecommerce.com/">Spree</a></p> 
    </div> 
   
  </div> 

</div>