#header
  %h1
    %a{:href => "/", :title => "eCommerce Spree Theme"}
      %img{:alt => "enVirashop", :src => "/images/logo.jpg"}/
  %ul#nav-shadow
    %li.orange-cart
      %a{:href => "#", :title => "View Cart"} View Cart
  / end shadow navigation