<ul class="topnav"> 
  <li> 
    <ul class="subnav"> 
      <% get_taxonomies.each do |taxonomy| %>                                      
      <% taxonomy.root.children.each do |taxon| %>
        <li<%= ' class="cat-item cat-item-1"' if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %>><%= link_to taxon.name, seo_url(taxon) %></li>
      <% end %>                  
      <% end %>  
    </ul> 
  </li> 
</ul> 